body {
  margin: 0;
  height: 100vh;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #000000;
  box-shadow: 0 10px 20px 0 #00000033;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-around;
  cursor: pointer;
}

.dropdown-content a {
  color: #ccc;
  margin-left: 16px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.dropdown-content a:hover {
  color: #fff;
}

i.fas.fa-user-cog,
#user {
  display: none;
}

i.fas.fa-sign-out-alt {
  font-size: 24px;
  color: #555;
  margin-left: 10px;
}

i.fas.fa-sign-out-alt:hover {
  font-size: 24px;
  color: #fff;
  transition: 0.5s;
}

i.fas.fa-user-cog {
  font-size: 30px;
  color: #fff;
}

.questioner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.questioner-logo img {
  width: auto;
  height: 40px;
}

.cont {
  padding-top: 65px;
}

.create-meetup-bk {
  background-image: url(https://res.cloudinary.com/mchardex/image/upload/v1558174712/meetup.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: -8px;
  height: 55vh;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(4, 4, 4, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-text {
  font-size: 20px;
}

form.search-bar {
  padding: 20px;
}

.search-meetup {
  background-size: 26px 26px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  border: solid 1px #5550;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  padding: 5px 40px;
  outline: none;
  margin: 0;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  box-sizing: border-box;
  appearance: none;
  transition: all 0.3s ease;
  background-image: url(https://res.cloudinary.com/mchardex/image/upload/v1558174711/search.png);
  transition: 0.2s ease-in-out;
}

::placeholder {
  font-weight: 100;
}

.create-meetup {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.cte-meetup-cont {
  line-height: 2.5;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000008db;
  padding: 20px 0;
  z-index: 1111;
  position: fixed;
  top: 50%;
  left: 50%;
}

.create-meetup-icon {
  position: fixed;
  bottom: 0;
  right: 5%;
  color: #0b0f7b;
  padding: 20px;
  background: #000;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  z-index: 1111;
  border: 1px solid #000;
}

.closeCreateMeetup {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 800;
  font-size: 40px;
  cursor: pointer;
  color: #777;
  background: none;
  border: none;
}

.closeCreateMeetup:hover {
  color: rgba(161, 4, 4, 0.808);
  transition: 0.3s;
}

.create-meetup-icon:hover {
  background: rgb(100, 99, 99);
  transition: all 0.5s;

}

.create-meetup-icon:hover i.fas.fa-plus {display:none; transition: 0.5s;}
.create-meetup-icon:hover:before {
  content:"Create Meetup!";
  font-size: 26px;
  text-align: center;
  color: #fff;
  font-weight: 200;
}

i.fas.fa-plus {
  font-size: 40px;
  margin: 0;
}

input.form-input-cte-meetup {
  padding: 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #555;
  font-size: 20px;
  color: #555;
}

.label-cte-meetup {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.submit-form {
  color: #ccc;
  border: 1px solid #555;
  padding: 10px 0;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
  background: #0b0f7b;
  color: #fff;
  font-size: 14px;
  border: 1px solid #f9681600;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  opacity: 0.8;
  font-size: 20px;
}

.submit-form:hover {
  opacity: 1;
  transition: 0.5s;
}

.update-form {
  border: 1px solid #555;
  padding: 10px 0;
  border-radius: 2px;
  font-size: 18px;
  background: #0b0f7b;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

hr {
  border: none;
  height: 1px;
  background: #dadada;
  margin-top: 35px;
}

.tags-cont {
  display: flex;
  justify-content: center;
}

input.form-input.tags {
  width: 33%;
  border-radius: 5px;
}

.form-input:focus {
  border: solid 2px #ffffff;
  box-shadow: 0 0 3px #555;
}

i.fas.fa-trash,
i.far.fa-edit {
  color: #000;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.5;
}

i.fas.fa-trash {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

i.far.fa-edit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

i.far.fa-edit:hover,
i.fas.fa-trash:hover {
  color: #fff;
  opacity: 1;
}

.meetup-wrap:hover {
  border: 1px solid #e4e4e4e7;
  opacity: 0.5;
}

/* form edit */
.editform {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;
  line-height: 2.5;
}

.close-div {
  color: #f44336;
  font-size: 40px;
  font-weight: 800;
  background: transparent;
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#modal {
  transition: 0.3 ease-in-out;
  display: none;
  width: 95%;
  margin: 0 auto;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0.8;
}

#tag1,
#tag2,
#tag3 {
  font-weight: 900;
}

input.ReactTags__tagInputField {
  font-size: 16px;
  background: transparent;
  border: 1px solid #000;
  padding: 14px 10px;
  border-radius: 5px;
  outline: none;
  color: #929090;
  margin: 5px 0;
  min-width: 30%;
}

span.tag-wrapper.ReactTags__tag {
  color: #cecece;
  border: 1px solid #212121;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  background: #000;
  transition: 0.5s;
}

/* .ReactTags__tags.react-tags-wrapper {
  width: 60%;
} */

.ReactTags__selected {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 5px;
  width: 100%;
  align-items: center;
}

button.ui.primary.button {
  background: red;
}

button.ui.primary.button:hover {
  background: #ff0000a9;
}

button.btn.btn-lg.btn-danger, button.btn.btn-lg.btn-default {
  background: #e60000;
  border: none;
  outline: none;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button.btn.btn-lg.btn-default {
  border: 1px solid #777;
  background: transparent;
  color: #000;
}

button.btn.btn-lg.btn-default:hover {
  background: #777;
  color: #fff;
}

.sweet-alert h2, .text-muted.lead {
  color: #000;
}

.create-form-cont {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 11px #b1b1b1;
  box-shadow: 1px 0 5px #b1b1b1;
}

@media (min-width: 320px) and (max-width: 480px) {
  #meetups {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .create-meetup {
    width: 95%;
  }

  .create-meetup-icon {
    width: 50px;
    height: 50px;
  }

  i.fas.fa-plus {
    font-size: 20px;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .user span {
    display: none;
    font-size: 12px;
  }

  i.fas.fa-user-cog,
  #user {
    display: block;
  }

  .ReactTags__tags.react-tags-wrapper {
    width: 100%;
  }

  .ReactTags__selected {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 5px;
    width: 100%;
  }

  span.tag-wrapper.ReactTags__tag {
    width: 90%;
  }

  .user {
    color: #ccc;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  i.fas.fa-user-cog {
    display: block;
  }

  .dropdown-content {
    position: absolute;
    right: -19px;
    left: -8px;
    background-color: #000;
    z-index: 1;
    text-align: center;
    top: 45px;
    padding: 3px;
    display: none;
    width: 100%;
  }

  .dropdown-content a {
    color: #ccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 14px;
  }

  .user:hover .dropdown-content {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  #meetups {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
