.edit-form-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d0311e8;
}

form.edit-form {
  width: 40%;
  background: #fff;
  padding: 30px;
  position: relative;
  border-radius: 5px;
}

.edit-input {
  margin: 10px 0;
  width: 100%;
  padding: 12px 10px;
  border-radius: 5px;
  border: 1px solid #4b4a4a6c;
  background: transparent;
  color: #000;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  font-weight: 700;
}

.edit-input:focus {
  border: 1px solid #585656;
}

button.submit-edit {
  padding: 10px 40px;
  border: none;
  outline: none;
  color: #ffffff;
  background: #0b0f7b;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bolder;
  cursor: pointer;
  opacity: 0.7;
}

button.submit-edit:hover {
  color: #fff;
  transition: 0.5s;
  opacity: 1;
}

.close-edit-tab {
  color: #929292;
  font-size: 40px;
  font-weight: 800;
  background: transparent;
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.close-edit-tab:hover {
  color: #ab0001;
  transition: 0.5s;
}

.ReactTags__tags.react-tags-wrapper {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  form.edit-form {
    width: 80%;
  }
}