p.not-found {
  text-align: center;
  font-size: 23px;
  color: #fff;
  font-weight: 400;
}
.cont {
  padding-top: 65px;
}

.create-meetup-bk {
  background-image: url(https://res.cloudinary.com/mchardex/image/upload/v1558174712/meetup.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 55vh;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(4, 4, 4, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-text {
  font-size: 20px;
}

form.search-bar {
  padding: 20px;
}

.search-cont {
  display: flex;
  padding: 20px 0;
}

.search-meetup {
  background-size: 26px 26px;
  width: 45%;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  border: solid 1px #555;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  padding: 5px 40px;
  outline: none;
  margin: 0 60px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  box-sizing: border-box;
  appearance: none;
  background-image: url(https://image.flaticon.com/icons/png/512/55/55369.png);
  transition: 0.2s;
}

.search-meetup:hover {
  padding: 10px 40px;
}

::placeholder {
  font-weight: 100;
}

.meetup-wrap-landing-page {
  text-align: center;
  background: transparent;
  color: #ccc;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 12px #c1bdbd;
  position: relative;
}

.meetup-wrap-landing-page:hover {
  opacity: 0.7;
  background: #00000056;
  transition: 0.5s;
}

.meetup-cont {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#meetups {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  width: 90%;
  margin: 0 auto;
}

.meetup-text span {
  margin: 0 2px;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  background: #0b0f7b;
  font-weight: 600;
  font-size: 12px;
}

.meetup-text h3 {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #070aaa;
  text-transform: capitalize;
}

a.link {
  text-decoration: none;
  width: 95%;
}

p.date, p.loctn {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}

.meetups-hori {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  text-align: center;
  grid-gap: 30px;
  justify-content: center;
}

.meetup-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
  color: #fff;
  width: 100%;
}

.meetup-wrap:hover {
  border: 1px solid #e4e4e4e7;
  opacity: 1;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0.8;
}

a.cte-meetup {
  cursor: pointer;
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  #meetups {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .meetup-cont {
    margin: 10px;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .user span {
    display: none;
  }

  p.not-found {
    font-size: 16px;
  }

  .search-meetup {
    width: 90%;
    margin: 0 20px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  #meetups {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .search-meetup {
    width: 90%;
    margin: 0 40px;
  }
}