.m-details-cont {
  padding-top: 100px;
}

.m-cont {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.m-image {
  background-image: url(https://res.cloudinary.com/mchardex/image/upload/v1558174712/meetup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 55%;
  border-radius: 10px;
}

.mdlocation, .mddate, .mdrsvp {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.rsvp-ques {
  color: #000;
  text-align: center;
  margin-top: 5vh;
}

.question-title {
  text-align: center;
  font-size: 20px;
}

.comment-cont p {
  text-transform: capitalize;
  padding: 0;
  margin: 5px 0;
}

.m-text {
  min-width: 40%;
  margin-left: 20px;
  color: #000;
  font-size: 20px;
}

.m-text h1 {
  font-size: 18px;
  text-transform: capitalize;
}

.m-text p {
  margin-left: 10px;
}

form#question-submit {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input.question-val {
  border: 1px solid #313030;
  background: transparent;
  border-radius: 5px 0 0 5px;
  padding: 20px 10px;
  width: 80%;
  font-size: 20px;
  color: #212121;
  outline: none;
}

button.submit-ques {
  padding: 10px;
  border: none;
  font-size: 20px;
  background: #11157b;
  color: #fff;
  font-weight: lighter;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

button.submit-ques:hover {
 opacity: 0.7;
 transition: 0.5s;
}

.dicussions {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

#questions {
  width: 80%;
  margin: 0 auto;
}

.question-cont {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  color: #222;
  box-shadow: 0 0 13px #232323ab;
  margin: 20px 0;
}

.question-cont h3 {
  text-transform: capitalize;
  color: #10157b;
}

h1.disc {
  color: #000;
  text-align: center;
}

i.far.fa-thumbs-up {
  font-size: 35px;
  cursor: pointer;
  opacity: 0.7;
}

i.far.fa-thumbs-up:hover {
  color: #0208bd;
  transition: 0.2s;
}

.likes-dis {
  display: flex;
}

.upvote span {
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.post-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

input.form-input.comment {
  width: 85%;
}

.form-input {
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  border: solid 1px #4a363685;
  color: #100101;
  font-size: 20px;
  font-style: normal;
  display: flex;
  font-weight: 400;
  padding: 10px 10px;
  outline: none;
  border-radius: 5px 0 0 5px;
  background-color: transparent;
  box-sizing: border-box;
  appearance: none;
  flex-direction: column;
  flex-grow: 2;
}

.submit-comment {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #585858;
  color: #fff;
  background: #12157b;
  font-weight: 700;
  cursor: pointer;
}

.submit-comment:hover {
  background-color: #929292;
  border: 1px solid #e0e0e0;
}

.question-cont p {
  color: #e4e2e2;
}

.question-cont p {
  color: #000;
  font-size: 14px;
  background-color: #92929205;
  padding: 0;
  font-weight: 500;
  word-break: break-all;
  line-height: 2;
  letter-spacing: 0.04em;
}

i.far.fa-comment {
  color: #cccccc;
}

a.cte-meetup {
  cursor: pointer;
  display: none;
}

.rsvp-resp-buttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.yes-btn {
  padding: 10px 30px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #00631e;
  cursor: pointer;
  border: 1px solid #00631e;
  margin-right: 15px;
}

button.disable-yes-btn {
  background: #00631e;
  color: #fff;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #00631e;
  margin-right: 15px;
}


button.yes-btn:hover {
  background: #00631e;
  color: #fff;
}

button.no-btn {
  padding: 10px 30px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #e60000;
  cursor: pointer;
  border: 1px solid #e60000;
  margin-right: 15px;
}

button.disable-no-btn {
  padding: 10px 30px;
  background: #e60000;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: 1px solid #e60000;
  margin-right: 15px;
}

button.no-btn:hover {
  background: #e60000;
  color: #fff;
}

button.maybe-btn {
  padding: 10px 30px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #302e2e;
  cursor: pointer;
  border: 1px solid #302e2e;
}
button.disable-maybe-btn {
  padding: 10px 30px;
  background: #302e2e;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: 1px solid #302e2e;
}

button.maybe-btn:hover {
  background: #302e2e;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .m-cont {
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 28px #08020245;
  }

  .m-image, .questions {
    width: 100%;
  }

  .m-text {
    text-align: center;
    margin: 0;
  }

  i.far.fa-thumbs-up, i.far.fa-thumbs-down {
    font-size: 25px;
  }

  .form-input {
    font-size: 12px;
  }

  #questions {
    width: 95%;
    margin: 0 auto;
  }

  .question-cont p {
    font-size: 12px;
  }

  .question-cont h3 {
    font-size: 14px;
  }

  .dicussions, form#question-submit {
    width: 95%;
  }

  input.rsvp-val {
    width: 100%;
    font-size: 18px;
  }

  .user span {
    display: none;
  }

  form#question-submit {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  input.question-val {
    border-radius: 0;
    padding: 20px 0;
    width: 95%;
    text-align: center;
  }

  button.submit-ques {
    border: none;
    border-radius: 0;
    width: 96%;
    margin: 10px 0;
  }
}